body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body, html {
  display: flex;
  justify-content: center;
  height: 100%;
}
#root {
  height: 100%;
  max-width: 480px;
  width: 100%;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
  margin: auto;
  position: fixed;
  top: 0px;
  font-family: Microsoft JhengHei!important;
}